*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(44, 44, 44, 0.2);
    height: 100vh;
    width: 100%;
    background-image: url(https://www.shutterstock.com/image-vector/gray-futuristic-geometric-shape-background-260nw-2096802352.jpg);
    background-size: cover;
}

h1{
    font-family:'Geologica', sans-serif;
    text-align: center;
    padding-top: 40px;
    color: rgba(44, 44, 44, 0.9);
    text-shadow: 2px 1px rgba(44, 44, 44, 0.5);
}
div{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family:'Geologica', sans-serif;
}

button{
    padding: 20px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 6px 3px rgba(44, 44, 44, 0.2);
}

.link{
    text-decoration: none;
    color:rgba(44, 44, 44, 0.7);
    padding: inherit;
}

input{
    height: 30px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 7px 7px rgba(44, 44, 44, 0.2);
    outline: 0;
}

label{
    font-size: 2em;
}

.button{
    margin-top: 40px;
}
span{
    color: rgba(44, 44, 100, 0.8);
}
button:hover{
    background-color: rgba(44, 44, 44, 0.2);
}